
Rockstar_settings/lightcone_rockstar/writer.25049635.o
Rockstar_settings/lightcone_rockstar/writer.25049635.e
Rockstar_settings/snapshot_rockstar/writer.25044261.o
Rockstar_settings/snapshot_rockstar/writer.25044261.e
.DS_Store
.DS_Store
Analysis-notebooks/CLASS_cdm_PowerSpectra_CF_comparison_RSD_noRSD.ipynb
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
.DS_Store
.DS_Store
